body
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#naglowek
{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
#board
{
    background-color: black;
    height: 512px;
    width: 512px;
}